body{
  background-image: url("images/grid_pic copy.jpg");
  /*background: url(https://media1.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif?cid=3640f6095c92b2f75578306c32d0e4e3);*/
  background-size: cover;
  background-repeat: none;
  
  margin: 0;
}


h1{
    font-size: 48px;
    color: white;

}


h2{
  color: white;
}

p{
  font-size: 24px;
  color: white;
}

.main{
  background-color: black;
  font-family: verdana;
  color: white;
  text-align: center;
  margin: 10px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

/* Add a black background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.name{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.print{
  height: 60%;
  width: 35%;
  position: absolute;
  top: 40%;
  right: 10%;
  }