body{
	background-image: url(images/background.jpeg);
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	height: 500px;

}

h1{
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 35px;
	text-align: center;

}

p{
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
	text-align: center;

}

.images{
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	
}

.buttons{
	border: none;
	margin: 30px;
	text-align: center;
	display: block;

}

#hidden{
	border: none;
	color: rgba(0,0,0,0);
	margin: 30px;
	text-align: center;
	display: block;
}