body{
	background-color: white: 
/*	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	height: 500px;*/

}

h1{
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 35px;
	text-align: center;

}

p{
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
	text-align: center;

}

.images{
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	
}

.hair{
	display: grid;
  grid-gap: 20px;
  /*Grid tracks*/
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-auto-rows: 250px;
  margin: 10%;
}

  .hair img {
   	object-fit: cover;
   	width: 100%;
   	/*height: 250px;*/
   }

.buttons{
	border: none;
	margin: 30px;
	text-align: center;
	display: block;

}

#hidden{
	border: none;
	color: rgba(0,0,0,0);
	margin: 30px;
	text-align: center;
	display: block;
}

#find{
	border: none;
	color: rgba(0,0,0,0);
	margin: 30px;
	margin-top: 300px;
	text-align: right;
	
}